.AgentProfileBg {
  background-color: rgb(197, 160, 160);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.AgentImage {
  max-width: 20%;
}
