/* PropertyOfTheDay.module.css */

.PropertyOfTheDayBg {
  background-color: rgb(193, 218, 226);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.PropertyImage {
  width: 700px;
  height: 400px;
}

.PropertyDetails {
  font-size: 28px;
}

@media (max-width: 600px) {
  .PropertyImage {
    max-width: 100%;
    max-height: 200px;
  }
  .PropertyDetails {
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
    max-width: 300px;
    margin-bottom: -20px;
  }
}

/* CAROUSEL */

.carousel-root {
  max-width: 700px;
}

.carousel .control-prev,
.carousel .control-next {
  font-size: 24px;

  padding-top: 200px !important;
  background: none !important;
}

.carousel .control-prev {
  margin-left: 20px;
  border-radius: 50px;

  height: 25px;

  padding-top: 190px !important;
}

.carousel .control-next {
  margin-right: 20px;
  border-radius: 50px;
  height: 25px;
  padding-top: 190px !important;
}
