.about-page-container {
  background-image: url("./AboutImage1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: aliceblue;
}

.centered-container {
  text-align: center;
  max-width: 600px;
  margin: auto;
  word-spacing: 0.2em;
  margin-bottom: 500px;
}

.AboutUsSection {
  padding-top: 200px;
  color: aliceblue;
  font-size: 80px;
}
/* TEAM SECTION */

.team-section-1 {
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 768px) {
  .AboutUsSection {
    padding-top: 50px;
    font-size: 40px;
    max-width: 400px;
    margin: 0 auto;
  }
  .About-opening-sentence {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 230px;
  }

  .text-white {
    font-size: 16px;
  }

  .text-lg {
    font-size: 16px;
  }

  .team-member {
    display: flex;
    align-items: center;
  }
}
