/* Header.css */

@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap");

/* start: global styles */
body {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #777;
  line-height: 1.7;
}

* {
  outline: none;
}

*:not(.slick-track):not(.slick-list) {
  transition: 0.4s;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

button.rounded {
  background: #f69314;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  line-height: 1.5;
  cursor: pointer;
}

p.large-paragraph {
  font-size: 1.25rem;
  font-weight: 300;
}
/* end: global styles */

/* start: header styles */
#header-hero-container {
  min-height: 600px;
  height: calc(100vh);
  position: relative;
}

header {
  background: transparent;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(155, 154, 154, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

#logo {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  font-size: 1.7rem;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 4px;
}

header ul {
  list-style-type: none;
  padding-top: 15px;
}

header ul li {
  display: inline-block;
  margin: 0 15px;
}

#close-flyout {
  display: none;
}

header ul li a {
  color: #999;
  font-size: 16px;
  text-decoration: none;
}

header ul.is-sticky li a {
  color: #e2e2e2;
}

header ul li a:hover,
header ul li a.active {
  color: #fff;
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
  color: #f69314;
}
/* end: header styles */

/* Add the following styles for mobile view */
@media (max-width: 768px) {
  header {
    padding: 1rem;
  }
  #nav-menu {
    display: none;
    position: absolute;
    margin-top: 70px; /* Adjust as needed based on your header height */
    left: 0;
    width: 100%;
    background-color: #e4e4e4;
    z-index: 2;
  }
  .HeaderButton {
    margin-bottom: 30px;
  }
  #nav-menu.open {
    display: block;
  }

  header ul {
    text-align: center;
    padding: 10px 0;
  }

  header ul li {
    display: block;
    margin: 10px 0;
  }

  #close-flyout {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .hamburger-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 10px;
    display: block;
  }

  .hamburger-menu img {
    width: 45px; /* Adjust as needed */
    height: auto;
    margin-top: -9px;
  }
}
