@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap");

/* Global styles */
body {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #777;
  line-height: 1.7;
}

* {
  outline: none;
}

*:not(.slick-track):not(.slick-list) {
  transition: 0.4s;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  color: #f69314;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
}

h5 {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}

/* Paragraphs and Buttons */
p {
  margin: 0 0 1rem;
}

button.rounded {
  background: #f69314;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  line-height: 1.5;
  cursor: pointer;
}

p.large-paragraph {
  font-size: 1.25rem;
  font-weight: 300;
}

/* Hero Section */
#hero {
  background: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80")
    center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

#hero .fade {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(52, 58, 64, 0.9);
  z-index: 1;
}

#hero .hero-text {
  position: absolute;
  top: 50%;
  margin: -75px auto 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
  width: 500px;
  text-align: center;
}

#hero .hero-text p {
  line-height: 1.5em;
  font-weight: 300;
  font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 500px) {
  #hero .hero-text {
    width: 330px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .large-paragraph {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .container {
    max-width: 540px;
  }

  #hero .hero-text {
    width: 400px;
  }
}

@media (max-width: 400px) {
  #hero .hero-text {
    max-width: 275px;
    width: 100%;
  }
}
